<div class="row">
  <div class="col-8 p-3">
    <h4 style="color: rgba(0, 0, 0, 0.5);">Restaurants</h4>
  </div>
</div>
<div class="row justify-content-center">
  <div class="card-columns">

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/onlp7ojjmh1qhivm0yxv"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card" >
        <h5 class="card-title font-weight-bold">Tandoor Point</h5>
        <div class="restaurant-rating" ><strong>3.0</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/d59qdvgdq2caad7nhipx"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card">
        <h5 class="card-title font-weight-bold">Hotel Shalimar</h5>
        <div class="restaurant-rating" ><strong>3.2</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/gjuhuccffbwnonxanyl9"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card">
        <h5 class="card-title font-weight-bold"><a>Hotel Malabar</a></h5>
        <div class="restaurant-rating" ><strong>4.3</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/yktmfporzgu0jatkevqr"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card">
        <h5 class="card-title font-weight-bold">
          <a>Home Kitchen Services</a>
        </h5>
        <div class="restaurant-rating" ><strong>4.5</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/wjfwo0mpmfs7fub7ykvp"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card">
        <h5 class="card-title font-weight-bold"><a>Cafe Peter</a></h5>
        <div class="restaurant-rating" ><strong>3.7</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

    <a routerLink="/menu">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/nqw2klwsqyfnjow5x2fy"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body restaurant-card">
        <h5 class="card-title font-weight-bold"><a>The Good Bowl</a></h5>
        <div class="restaurant-rating" ><strong>3.0</strong> </div>
        <span class="fa fa-star"></span>
      </div>
    </div>
    </a>

  </div>
</div>

