<div class="row justify-content-center">
  <div class="col-8 justify-content-center p-3">
    <input
      type="text"
      placeholder="Search Food Items"
      aria-label="Search"
      class="form-control"
    />
  </div>
</div>
<div class="row justify-content-center">
  <div class="card-columns">
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/onlp7ojjmh1qhivm0yxv"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><a>Tandoor Point</a></h4>
        <p class="text-muted">
          Mughlai, North Indian, Chinese, Restaurant | Rating:
          <strong>3.0</strong> | INR: ₹ 230
        </p>
        <p class="card-text">Chicken Kadai</p>
        <a
          data-toggle="modal"
          data-id="Chicken Kadai | 230 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/d59qdvgdq2caad7nhipx"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><a>Hotel Shalimar</a></h4>
        <p class="text-muted">
          Indian, Restaurant | Rating: <strong>3.2</strong> | INR: ₹ 100
        </p>
        <p class="card-text">Chicken Dry Fry</p>
        <a
          data-toggle="modal"
          data-id="Chicken Dry Fry | 100 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/gjuhuccffbwnonxanyl9"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><a>Hotel Malabar</a></h4>
        <p class="text-muted">
          Chinese, North Indian, Restaurant | Rating: <strong>4.3</strong> |
          INR: ₹ 145
        </p>
        <p class="card-text">Chicken Pakora</p>
        <a
          data-toggle="modal"
          data-id="Chicken Pakora | 145 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/yktmfporzgu0jatkevqr"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          <a>Home Kitchen Services</a>
        </h4>
        <p class="text-muted">
          North Indian, Restaurant | Rating: <strong>4.5</strong> | INR: ₹ 125
        </p>
        <p class="card-text">Chicken Fry</p>
        <a
          data-toggle="modal"
          data-id="Chicken Fry | 125 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/wjfwo0mpmfs7fub7ykvp"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><a>Cafe Peter</a></h4>
        <p class="text-muted">
          Korean, Continental, Bakery, Restaurant | Rating:
          <strong>3.7</strong> | INR: ₹ 250
        </p>
        <p class="card-text">Cheese Chilli Toast</p>
        <a
          data-toggle="modal"
          data-id="Cheese Chilli Toast | 250 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
    <div class="card booking-card">
      <div class="view overlay">
        <img
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/nqw2klwsqyfnjow5x2fy"
          alt="Card image cap"
          class="card-img-top"
        />
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><a>The Good Bowl</a></h4>
        <p class="text-muted">
          Fast Food, North Indian, Restaurant | Rating: <strong>3.0</strong> |
          INR: ₹ 200
        </p>
        <p class="card-text">Immunity Booster Chole Rice Bowl</p>
        <a
          data-toggle="modal"
          data-id="Immunity Booster Chole Rice Bowl | 200 ₹ "
          title="Add this item"
          href="#addBookDialog"
          class="open-AddBookDialog btn btn-primary"
          >Add to Cart</a
        >
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          class="btn btn-primary"
        >
          Buy / Order
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center pt-3">
  <nav>
    <ul class="pagination">
      <li
        aria-disabled="true"
        aria-label="« Previous"
        class="page-item disabled"
      >
        <span aria-hidden="true" class="page-link">‹</span>
      </li>
      <li aria-current="page" class="page-item active">
        <span class="page-link">1</span>
      </li>
      <li class="page-item">
        <a href="http://foodorb.rudyah.com/home?page=2" class="page-link">2</a>
      </li>
      <li class="page-item">
        <a href="http://foodorb.rudyah.com/home?page=3" class="page-link">3</a>
      </li>
      <li class="page-item">
        <a href="http://foodorb.rudyah.com/home?page=4" class="page-link">4</a>
      </li>
      <li class="page-item">
        <a href="http://foodorb.rudyah.com/home?page=5" class="page-link">5</a>
      </li>
      <li class="page-item">
        <a
          href="http://foodorb.rudyah.com/home?page=2"
          rel="next"
          aria-label="Next »"
          class="page-link"
          >›</a
        >
      </li>
    </ul>
  </nav>
</div>
