<div class="justify-content-center">
  <div>
    <div class="card menu-card" style="padding: 20px 30px 20px 30px">
      <div>
        <div>
          <h4 style="color: rgba(0, 0, 0, 0.5); margin-left: 2rem">Menu</h4>
        </div>
      </div>
      <div *ngFor="let menuItem of menuItems" class="card-body">
        <div class="card booking-card">
          <div class="view overlay">
            <img
              src="{{ menuItem.image_url }}"
              alt="Card image cap"
              class="card-img-top"
            />
            <a href="#!"><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body">
            <div class="menu-item-details">
              <h4 class="card-title font-weight-bold"><a>{{ menuItem.name }}</a></h4>
              <p class="text-muted">
                {{ menuItem.cost }} Rs.
              </p>
            </div>
            <div class="menu-item-add">
              <a
              data-toggle="modal"
              data-id="{{ menuItem.id }}"
              title="Add this item"
              href="#addBookDialog"
              (click)="menuItemSelected(menuItem, menuItem.name + ' | ' + menuItem.cost + ' ₹ ')"
              class="open-AddBookDialog btn btn-primary"
              >+ Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
id="addBookDialog"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel1"
class="modal fade"
style="display: none"
aria-hidden="true"
>
<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="exampleModalLabel1" class="modal-title">
        Are you sure you want to add this item to cart?
      </h5>
      <button
        type="button"
        data-dismiss="modal"
        aria-label="Close"
        class="close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Add order to cart?
      <div>Order Id:</div>
      <p><input
        type="text"
        name="bookId"
        id="bookId"
        value="{{ itemDescription }}"
        readonly="readonly"
        style="width: 100%"
      /></p>
      <p>Click on Add to Cart to proceed further</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-secondary">
        Close
      </button>
      <button
        type="button"
        name=""
        id="add_cart"
        data-dismiss="modal"
        class="btn btn-success"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
</div>
