<div class="justify-content-center">
  <div>
    <div class="card menu-card" style="padding: 20px 30px 20px 30px">
      <div>
        <div>
          <h4 style="color: rgba(0, 0, 0, 0.5); margin-left: 2rem">Menu</h4>
        </div>
      </div>
      <div *ngFor="let menuItem of menuItems" class="card-body">
        <div class="card booking-card">
          <div class="view overlay">
            <img
              src="{{ menuItem.image_url }}"
              alt="Card image cap"
              class="card-img-top"
            />
            <a href="#!"><div class="mask rgba-white-slight"></div></a>
          </div>
          <div class="card-body">
            <div class="menu-item-details">
              <h4 class="card-title font-weight-bold"><a>{{ menuItem.name }}</a></h4>
              <p class="text-muted">
                {{ menuItem.cost }} Rs.
              </p>
            </div>
            <div class="menu-item-add">
              <a
              data-toggle="modal"
              data-id="{{ menuItem.id }}"
              attr.data-menu-item="{{ menuItem.name }} | {{ menuItem.cost }} ₹ "
              title="Add this item"
              href="#addBookDialog"
              class="open-AddBookDialog btn btn-primary"
              >+ Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
