<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order Details</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Your Order Placed Successfully
      </h6>
      <h3>
        Status:
        <p id="txt" hidden="hidden">100</p>
        <p id="status">Delivered</p>
      </h3>
      <h6 id="status">Remaining time:</h6>
      <h6 id="remaining">0</h6>
      <p class="card-text">
        Your food is being cooked sit back and relax while our partners deliver
        hot and yummy food at your doorstep.
      </p>
      <p>Order ID: 1654685</p>
      <button
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-outline-danger"
      >
        Cancel Order
      </button>
    </div>
  </div>
</div>
